<a href="https://colab.research.google.com/github/samlocal/Python/blob/main/BasicsOfPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # **Python Output**

In [ ]:
print("Hello PYTHON..")

Hello PYTHON..

In [ ]:
print(1,"sameer",True,8.0)

1 sameer True 8.0

In [ ]:
print(1,"Sameer",True,8.0,sep='/') #space is override with /

1/Sameer/True/8.0

In [ ]:
print("sameer")
print("Nandyal")

sameer
Nandyal

In [ ]:
print("sameer", end='-') #new line is override with the -
print("Nandyal")

sameer-Nandyal

# **Data** **Types**

In [ ]:
#Integer
print(23)

#Decimal/Float
print(23.28)

#Boolean
print(True,False)

#Text/String
print("Hello world")

#Complex Number
print(2+6j)

#List
print([1,2,3,4,5])

#Tuple
print((1,2,3,4,5))

#sets
print({1,2,3,4,5})

#Dictionary
print({'Name':'Sameer','Place':'nandyal'})

23
23.28
True False
Hello world
(2+6j)
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'Name': 'Sameer', 'Place': 'nandyal'}

In [ ]:
#Type function
print(type(2))
print(type([1,2,3]))

<class 'int'>
<class 'list'>

 # **Variables**

In [ ]:
name='Sameer'
print(name)

a=1
b=99
print(a+b)

Sameer
101

In [ ]:
#static Typing
# int var1=99; uswd in C/C++/Java

#Dynamic Typing
var1=99;

#Static Binding
#int v1=99;
#v1='bhai'
#gives error in C/C++/Java

#Dynamic Binding
x=11
print(x)
x='Samantha'
print(x)

a,b,c=1,2,3
print(a,b,c)

d=e=f=4
print(d,e,f)

11
Samantha
1 2 3
4 4 4

# **Keywords and Idenifiers**

In [ ]:
#Rules for Identifiers
# 1.Cannot start with digit
# 2.Only underscore are allowed
# 3.Identifiers cannot be identifier

# **User Input**

In [ ]:
input()

sameer

'sameer'

In [ ]:
input("Enter your City")

Enter your Citynandyal

'nandyal'

In [ ]:
a=input("Enter number 1 ")
b=input("Enter number 2 ") #Bydefault input takes string, because string is a universal format
result=a+b
print("Sum is ",result)

Enter number 1 12
Enter number 2 122
Sum is  12122

# **Type Casting**

In [ ]:
#Converting one data type into another data type is called type casting
#Two Types of converstiona are there
# 1.Implict Type Conversion
# 2.Explict Type Conversion

In [ ]:
#Implict Type Conversion
a=2
b=2.4
print(type(a),type(b))
result=a+b
print(result,type(result))

<class 'int'> <class 'float'>
4.4 <class 'float'>

In [ ]:
#explict type conversion

#string to int
x=int('9')
print(type(x))

#int to string
v1=str(9)
v2=str(8)
v3=v1+v2
print(type(v1),type(v2),type(v3),v3)

<class 'int'>
<class 'str'> <class 'str'> <class 'str'> 98

In [ ]:
a=input("Enter number 1 ")
b=input("Enter number 2 ")
result=int(a)+int(b)
print("Sum is ",result)
print(type(a),type(b),type(result))

#Type converstion do not change the original data, it creates a new value of it

Enter number 1 11
Enter number 2 22
Sum is  33
<class 'str'> <class 'str'> <class 'int'>

# **Literals**

In [ ]:
#the value that is stord in a variable is called literals

#Binary Literals
a=0b0100
print(a)

#Decimal Literals
b=1001
print(b)

#Octal Literals
c=0o123
print(c)

#HexaDecimal Literals
d=0x12c
print(d)

#Float Literals
float_1=10.8
float_2=1.5e2 #1.5 * 10 ^ 2
float_3=1.5e-3 #1.5 * 10 ^ -3
print(float_1,float_2,float_3)

#Complex Literals
x=4+7j
print(x,x.real,x.imag)

#String Literals
str1='This is Banglore'
str2="Namma Banglore"
str3='K'
multiline_str="""This is multiline
string literals"""
unicode_str=u"\U0001f600"
raw_str=r"raw \n string"

print(unicode_str)

4
1001
83
300
10.8 150.0 0.0015
(4+7j) 4.0 7.0
üöê

In [ ]:
a=True+1
b=False+9
print(a,b)

2 9

In [ ]:
#None is mainly used with the variables that we assaign them a value in future
a=None
print(a)
a=99
print(a)

None
99

# **Operators**

In [2]:
#Arithmatic operators
print(2+3)
print(9-9)
print(5/2)
print(5//2)
print(5%2)
print(5**2)

5
0
2.5
2
1
25

In [3]:
#Relational Operators
print(4<5)
print(4>5)
print(4>=4)
print(4<=4)
print(9==9)
print(9!=0)

True
False
True
True
True
True

In [4]:
#Logical operators
print(1 and 0)
print(1 or 0)
print(0 and 0)
print(not 1)
print(not 0)

0
1
0
False
True

In [6]:
#Bitwise Operators
print(2&3)
print(2|3)
print(2^3)
print(~5)
print(4>>2)
print(4<<2)

2
3
1
-6
1
16

In [ ]:
#assignmanet operator
a=2
a+=2 #a=a+2
print(a)

In [11]:
#membership Operators
#in
print('Sameer' in 'Sameer Basha')
print('S' in 'Sam')

print(1 in [1,2,3,4,5])

#not in
print('N' not in 'Nandyal')
print('R' not in 'Nandyal')

True
True
True
False
True

In [17]:
#program - find the sum of three digit number entered by the user
num=int(input("Enter 3 digit number"))
ones_place=num%10
num//=10
tens_place=num%10
num//=10
hundreds_place=num%10

sum=ones_place+tens_place+hundreds_place
print(sum)

Enter 3 digit number999
27

# **If -Else**

In [19]:
num=int(input("Enter Number"))
if(num%2==0):
  print("Even Number")
else:
  print("Odd Number")

Enter Number11
Odd Number

In [22]:
original_email='sam@gmail.com'
original_password='4369'

email=input("Enter email")
password=input("Enter password")

if(email==original_email and password==original_password):
  print("Welcome")
elif(email==original_email and password!=original_password):
  print("password wrong enter one nore time")
  password=input("Enter password:")
  if(password==original_password):
    print("Welcome")
  else:
    print("U again entered wrong password")
else:
  print("Total wrong")

Enter emailsam@gmail.com
Enter passwordkkkk
password wrong enter one nore time
Enter password:4369
Welcome

In [25]:
#program - Min of three nuners
a=int(input("Enter 1st number"))
b=int(input("Enter 2nd number"))
c=int(input("Enter 3rd number"))

if(a<b and a<c):
  print(a)
elif(b<a and b<c):
  print(b)
else:
  print(c)

Enter 1st number1
Enter 2nd number1
Enter 3rd number1
1

In [26]:
#Menu driven calculator
fnum=int(input("Enter first number"))
snum=int(input("Enter second number"))

option=input("Enter option")

if(option=='add'):
  print(fnum+snum)
elif(option=='sub'):
  print(fnum-snum)
elif(option=='mul'):
  print(fnum*snum)
else:
  print(fnum//snum)

Enter first number12
Enter second number2
Enter optionadd
14

# **Modules**

In [29]:
#math
import math

math.factorial(5)

math.floor(3.7)

3

In [30]:
#keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [32]:
#random
import random
print(random.randint(1,100))

95

In [33]:
#datetime
import datetime
print(datetime.datetime.now())

2024-12-20 11:13:26.940352

# **Loops in Python**

In [34]:
#while loop
n=int(input("Enter n"))
i=1
while(i<11):
  print(n*i)
  i+=1

Enter n8
8
16
24
32
40
48
56
64
72
80

In [35]:
#while loop with else
i=1
while(i<5):
  print(i)
  i+=1
else:
  print('limit crossed')

1
2
3
4
limit crossed

In [38]:
#guessing Game
import random
jackpotNumber=random.randint(1,10)
print("random number is ",jackpotNumber)


num=int(input("guess Number"))

while(num!=jackpotNumber):
  print("U guessed wrong number")
  if(num>jackpotNumber):
   num=int(input("Guess one more time - less number"))
  else:
    num=int(input("Guess one more time - greater number"))
else:
  print("U guessed correct")

random number is  4
guess Number8
U guessed wrong number
Guess one more time - less number5
U guessed wrong number
Guess one more time - less number1
U guessed wrong number
Guess one more time - greater number3
U guessed wrong number
Guess one more time - greater number4
U guessed correct

In [39]:
#for loop
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [40]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [41]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [42]:
for i in 'Delhi':
  print(i)

D
e
l
h
i

In [43]:
for i in [1,2,3,4,5]:
  print(i)

1
2
3
4
5

In [1]:
# The current population of a town is 10000 the popuation of the town is incresaing at the rate of 10% per year, you have to weite a program to find out the population at the end of each of teh last 10 years
currpop=10000
for i in range(1,11):
  print(currpop)
  currpop=currpop/1.1

10000
9090.90909090909
8264.462809917353
7513.148009015775
6830.134553650703
6209.213230591548
5644.739300537771
5131.5811823070635
4665.07380209733
4240.976183724845

In [9]:
#1/1!+2/2!+..
import math
sum=0
n=int(input("Enter n:"))
for i in range(1,n+1):
  sum=sum+(i/math.factorial(i))
print(sum)


#Another method

fact=1
result=0
for i in range(1,n+1):
  fact=fact*i
  result=result+(i/fact)
print(result)

Enter n:2
2.0
2.0

In [11]:
#Nested Loops
n=int(input("Enter n:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end=' ')
  print(end='\n')

Enter n:3
*
* *
* * *