<a href="https://colab.research.google.com/github/samlocal/Python/blob/main/pythonLists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lists in PYTHON**

In [ ]:
#what are lists
#list is a type where you can store multiple items under 1 name more technically lists act as like dynamically arrays which means u can add more items on the fly

#list vs arrays
#fixed vs dynamic size
#hetrogenous
#speed of execution pyhton listslow
#memeory more list

In [ ]:
#id is used to et the address
a=99
print(id(a))

137275688865072

In [ ]:
#how lists are stored in memory

#see this in depth
#see video one time at start 20:00 minutes

In [ ]:
item1=100
item2=123
item3=999

print(id(item1))
print(id(item2))
print(id(item3))
list1=[item1,item2,item3]

print(id(list1))
print(id(list1[0]))
print(id(list1[1]))
print(id(list1[2]))

137275688865104
137275688865840
137274369635824
137274363404224
137275688865104
137275688865840
137274369635824

In [ ]:
#charactericts of lists
# 1.ordered
l1=[1,2,3]
l2=[3,2,1]
l3=[1,2,3]
print(l1==l2)
print(l1==l3)
print(id(l1[0]),id(l3[0]))

#see this in depth


#2. changable/mutable
#3.hetrogenous
#4.can have duplicates
#5.are dynamic
#6.can be nested
#7.items can be accessed
#8.can contain any kind of objects in python

False
True
137275688861936 137275688861936

In [ ]:
#create list
#Empty list
empty_list=[]
print(empty_list)

#1D list
one_d_list=[1,3,'sam',3.44,True]
print(one_d_list)

#2D list
two_d_list=[1,2,3,[4,5,6],[1,2,3]]
print(two_d_list)

#3D list
three_d_list=[
    [[1,2,3],[4,5,6]],
    [11,22,33],[44,55,66]
]
print(three_d_list)

#using type conversion
list1=list('sameer')
print(list1)

print(type(two_d_list),type(one_d_list),type(three_d_list),type(list1))

[]
[1, 3, 'sam', 3.44, True]
[1, 2, 3, [4, 5, 6], [1, 2, 3]]
[[[1, 2, 3], [4, 5, 6]], [11, 22, 33], [44, 55, 66]]
['s', 'a', 'm', 'e', 'e', 'r']
<class 'list'> <class 'list'> <class 'list'> <class 'list'>

In [ ]:
#Accessing items from  a list
l=[1,2,3,4,5,6]
#Indexing
print(l[0],l[4])
#negative indexing
print(l[-1])


list1=[[1,2,3],[4,5,6],[7,8,9]]
print(list1[:])

1 5
6
[[1, 2, 3], [4, 5, 6]]

In [ ]:
#slicing in list
l=[1,2,3,4,5]
print(l[:])
print(l[0::2])

[1, 2, 3, 4, 5]
[1, 3, 5]

In [ ]:
#Adding items in list
#append
list1=[11,2,55,7,8,9,0]
list1.append(100)
list1.append([-1,-2,-3])
print(list1)

list1.append('delhi')
print(list1)

[11, 2, 55, 7, 8, 9, 0, 100, [-1, -2, -3]]
[11, 2, 55, 7, 8, 9, 0, 100, [-1, -2, -3], 'delhi']

In [ ]:
#extend
list1=[11,2,55,7,8,9,0]

list1.extend([-1,-11,-111,-99])
print(list1)
list1.extend('delhi')
print(list1)

[11, 2, 55, 7, 8, 9, 0, -1, -11, -111, -99]
[11, 2, 55, 7, 8, 9, 0, -1, -11, -111, -99, 'd', 'e', 'l', 'h', 'i']

In [ ]:
#insert
list1=[11,2,55,7,8,9,0]
list1.insert(0,-1)
print(list1)

[-1, 11, 2, 55, 7, 8, 9, 0]

In [ ]:
#Editing items in alist
list1=[1,2,3,4,5]
list1[4]=500
list1[1:4]=[200,300,400]
print(list1)

[1, 200, 300, 400, 999]

In [ ]:
#Deleting items in alist
#del
L=[1,2,3,4,5]
print(L)
del L[4]
print(L)
del L
print(L)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]

NameError: name 'L' is not defined

In [ ]:
#remove
C
l.remove(5)
print(L)

[1, 2, 3, 4, 5]

In [ ]:
#pop
[1, 2, 3, 4, 5]
L.pop(0)
print(L)

L.pop()
print(L)

[2, 3, 4, 5]
[2, 3, 4]

In [ ]:
#clear
L=[1,2,3,4,5]
L.clear()
print(L)

[]

In [ ]:
#Operators on lists
#Arithmatic
#Membership
#loop

In [ ]:
#arithmatic
L1=[1,2,3,4,5]
L2=[6,7,8,9,0]
print(L1+L2)
print(L1*3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
#membership operator
L1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 0,[99,999]]
print(99 in L1)
print(8 in L1)
print(99 in L1)
print(99 not in L1)

False
True
False
True

In [ ]:
#loops
L1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 0,[99,999]]
for i in L1:
  print(i)

1
2
3
4
5
6
7
8
9
0
[99, 999]

In [ ]:
L1=[[1,2,3],[4,5,6],[7,8,9]]
for i in L1:
  print(i,end='->')
  for j in i:
    print(j, end=' ')
  print(end='\n')

[1, 2, 3]->1 2 3
[4, 5, 6]->4 5 6
[7, 8, 9]->7 8 9

In [ ]:
#List Functions
#len/min/max/sorted
L1=[1,77,-1,9,23,0]
print(len(L1))
print(min(L1))
print(max(L1))
print(sorted(L1))
print(sorted(L1,reverse=True))

6
-1
77
[-1, 0, 1, 9, 23, 77]
[77, 23, 9, 1, 0, -1]

In [ ]:
#count
L1=[77, 23, 9, 1, 0, -1,-1,-1,0]
print(L1.count(-1))
print(L1.count(999))

3
0

In [ ]:
#index
L1=[77, 23, 9, 1, 0, -1,-1,-1,0]
print(L1.index(-1))

5

In [ ]:
#reverse
L1=[77, 23, 9, 1, 0, -1,-1,-1,0]
#reverse permanently reverse the list
L1.reverse()
print(L1)

[0, -1, -1, -1, 0, 1, 9, 23, 77]

In [ ]:
#sort
L1=[22,5,9,0,1,-1,99,0]
sorted(L1) #not permanent
print(L1)
L1.sort() #permanenet
print(L1)

[22, 5, 9, 0, 1, -1, 99, 0]
[-1, 0, 0, 1, 5, 9, 22, 99]

In [ ]:
#copy
L1=[1,2,3,4,5]
print(id(L1))
print(L1)

L2=L1.copy()
print(id(L2))
print(L2)

137274364562944
[1, 2, 3, 4, 5]
137274366791296
[1, 2, 3, 4, 5]

In [ ]:
#list comprehension
#list comprehension provides a consive way of creating list
#newlist=[expression for item in iterable if conditon == True]
#Advantages of list comprehension
#1.more time and space efficient than loops
#2.require fewer lines of code
#3.transforms iterative atatemenrs into a formula

In [2]:
#add 1 to 10 items to a list
L=[]
for i in range(1,11):
  L.append(i)
print(L)

#simpler way
L=[i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
#Scalar Multiplication on a vector
L1=[1,2,3]
s=-3
#we want [-3,-6,-9]

#Traditional way
new_list=[]
for i in L1:
  new_list.append(i*s)
print(new_list)

#lidt comprehension
new_list=[i*s for i in L1]
print(new_list)

[-3, -6, -9]
[-3, -6, -9]

In [5]:
#squares of list
L1=[9,8,7,6,5]
#we want =[81,64,49,36,25]

#traditional way
new_list=[]
for i in L1:
  new_list.append(i*i)
print(new_list)

#list comprehension
new_list=[i*i for i in L1]
print(new_list)

[81, 64, 49, 36, 25]
[81, 64, 49, 36, 25]

In [6]:
#all the umbers divisible by 5 in the range of 1 to 50
five_list=[i for i in range(1,51) if(i%5==0)]
print(five_list)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [8]:
#find languages which starts with letter p
languages=['python','sython','php','pearl','c/c++']
p_lang=[lang for lang in languages if(lang.startswith('p'))]
print(p_lang)

['python', 'php', 'pearl']

In [10]:
#nested if with lst comprehension
basket=['apple','guava','chaeey','banana']
my_fruits=['apple','kiwi','grapes','banana']

#add new list from my_fruits and items if the fruit exists in basket and also starts with 'a'
new_list=[fruit for fruit in my_fruits if(fruit in basket) and (fruit.startswith('a'))]
print(new_list)

#another way
new_list=[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]
print(new_list)

['apple']
['apple']

In [12]:
#print a (3,3) matrix using list comprehension ->nested list comprehension
matrix=[[i for i in range(1,4)] for j in range(1,4)]
print(matrix)

#here expression itself is list comprehension

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [14]:
#cartesian product -> lists comprehenion on 2 lists together
L1=[1,2,3,4]
L2=[5,6,7,8]
#output-> [5,6,7,8,10,12,14,16,15,18,21,24,20,24,28,32]

#normal way
new_list=[]
for i in L1:
  for j in L2:
    new_list.append(i*j)
print(new_list)

#list comprehension
new_list=[i*j for i in L1 for j in L2]
print(new_list)

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]
[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

In [15]:
#2 ways to traverse a list
#1.item wise
L1=[99,88,77,66,55]
for i in L1:
  print(i)
#2.index wise
L1=[99,88,77,66,55]
for i in range(0,len(L1)):
  print('Index is ',i,' value is ',L1[i])

99
88
77
66
55
Index is  0  value is  99
Index is  1  value is  88
Index is  2  value is  77
Index is  3  value is  66
Index is  4  value is  55

zip() function

In [16]:
#see theory
L1=[1,2,3,4]
L2=[-1,-2,-3,-4]

print(list(zip(L1,L2)))

L3=[i+j for i,j in zip(L1,L2)]
print(L3)

[(1, -1), (2, -2), (3, -3), (4, -4)]
[0, 0, 0, 0]

In [17]:
#List can contain any kind of objects in python
L=[1,99,'sam',print,type,input]
print(L)

[1, 99, 'sam', <built-in function print>, <class 'type'>]

In [18]:
#disadvantages of lists

#1.risky usage
a=[1,2,3]
b=a
b.append(4)
print(a,b)

[1, 2, 3, 4] [1, 2, 3, 4]