<a href="https://colab.research.google.com/github/samlocal/Python/blob/main/PythonFunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Functions

In [9]:
#Lets create a function (with docstring)
def is_even(n): #here n is parameter
  """
  This Function returns if a given number is odd or even
  """
  if(type(n)!=int):
    return "Error in arguments"
  result=n%2==0
  return result

#Function Calling
print(is_even(2)) #here 2 is argument

print(is_even('sam'))


for i in range(1,11):
  print(i,' -> ',is_even(i))

True
Error in arguments
1  ->  False
2  ->  True
3  ->  False
4  ->  True
5  ->  False
6  ->  True
7  ->  False
8  ->  True
9  ->  False
10  ->  True

In [10]:
#Types of Arguments
#1.Default Agrument

def power(a=1,b=1):
  return a**b

print(power())
print(power(2,3))
print(power(2))

1
8
2

In [ ]:
#2.Positional Argument
print(power(9,9))

In [11]:
#3.Keyword Argument
print(power(a=2,b=3))
print(power(b=2,a=3))

8
9

# *args and **kwargs
# *args and **kwargs are specified python keyword hat are used to pass the variable length of arguments to a function

In [15]:
# *args
# allows us to pass a variable number of non-keyword argumenrs to a function

def multiply(*args):
  product=1
  for i in args:
    product*=i
  return product

#calling function with one agrumnet
print(multiply(2))
#2 arguments
print(multiply(2,1))
#3 arguments
print(multiply(2,99,8))
#n arguments
print(multiply(2,8,6,66,11,9,1))

#python store args in tuple
def multiply(*args):
  print(args)

multiply(1,2,3,4,5,6,7,8,9,44)

2
2
1584
627264
(1, 2, 3, 4, 5, 6, 7, 8, 9, 44)

In [24]:
# **kwargs
# **kwargs allows us to pass any number of keyword arguments
# keyword arguments mean that they contain a key-value pair, like a string dictionary

def display(**kwargs):
  for (key,value) in kwargs.items():
    print(key,' -> ',value)

display(india='Delhi',srilanka='colombo',pakistan='islamabad')

india  ->  Delhi
srilanka  ->  colombo
pakistan  ->  islamabad

In [26]:
#points to remenber
# order of the arguments matters (normal->*args->**kwargs)
# The word 'args' and 'kwargs' are only a conevntion , u can use any name of ur choice

def all_args(normal_parameter1,normal_parameter2, *args,**kwargs):
  print("Normal Arguments")
  print(normal_parameter1,normal_parameter2)

  print("args")
  for i in args:
    print(i)

  print("kwargs")
  for (key,value) in kwargs.items():
    print(key,' -> ',value)

all_args(11,22,-1,-2,-3,-4,5,-6,-7,name='sam',place='Nandyal')

Normal Arguments
11 22
args
-1
-2
-3
-4
5
-6
-7
kwargs
name  ->  sam
place  ->  Nandyal

In [16]:
#Accessing the documentation of any function
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [ ]:
#How functions are executed in memory
#learn

In [27]:
#witout return statement
L=[1,2,3]
print(L.append(77)) #append return the None

None

In [ ]:
#variable scope
#learn

In [1]:
#Nested functions
def f():
  def g():
    print("Inside g1")
  g()
  print("Inside g")

f()

Inside g1
Inside g

In [ ]:
#practise questions based on nested functions using global and local variables

In [15]:
# Functions are 1st class citizens

def square(num):
  return num*num

print(type(square))
print(id(square))

<class 'function'>
139157389923024

In [16]:
#reassaign

x=square
print(id(x))

print(x(8))

139157389923024
64

In [14]:
#deleting a function
# del square
# print(square(8))
# print(x(8))

64

In [17]:
#storing
L=[1,2,3,4,square]
print(L[-1](5))

25

In [21]:
#returning a function
def x():
  return 3

def y():
  return x

y()()

3

In [22]:
def f():
  def x(a,b):
    return a+b
  return x

f()(2,3)

5

In [26]:
#function as argement
def fun_a():
  print("Inside fun_a")

def fun_b(z):
  print("Inside fun_b")
  return z()

fun_b(fun_a)

Inside fun_b
Inside fun_a

In [ ]:
#Benefits of using a functions
 #code modularuty
 #code reusability
 #code reusability

In [ ]:
#Lambda Function

# A Lambda function is a small anonymous function

# A Lambda function can take any number of arguments , but can only have one expression

In [28]:
x= lambda i:i*i

print(x(9))

81

In [29]:
sum_of_2= lambda a,b : a+b

sum_of_2(9,7)

16

In [ ]:
#Difference b/w normal and lambda function

# no name
# lambda has no return value
# lambda written in one line
# not reusable

In [30]:
# check if a string has 'a'
has_a=lambda string: 'a' in string

has_a('sam')

True

In [32]:
#odd or even
odd_or_even = lambda n: n%2==0

print(odd_or_even(1))
print(odd_or_even(88))

odd_or_even = lambda n:'even' if(n%2==0) else 'odd'
print(odd_or_even(1))
print(odd_or_even(88))

False
True
odd
even

In [36]:
# lambda functions are used with Heigher Order Function

def square(n):
  return n*n

def transform(fun,List):
  output=[]
  for i in List:
    output.append(fun(i))
  print(output)

transform(square,[1,2,3])


#using lambda function
transform(lambda x:x*x, [1,2,3])

[1, 4, 9]
[1, 4, 9]

In [37]:
#Map

#square the list of a list
list(map(lambda x:x*x,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [38]:
#odd/even labelling of list items
L=[1,2,3,4,5,6,7,8,9]
list(map(lambda x: 'even' if x%2==0 else 'odd' , L))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [40]:
#fetch names from a list of dict
users=[
    {
        'name':'Sam',
        'place':'Nandyal',
        'gender':'Male'
    },
    {
        'name':'Bahubali',
        'place':'Nandyal',
        'gender':'FeMale'
    },
    {
        'name':'Katappa',
        'place':'Nandyal',
        'gender':'Male'
    }
]

list(map(lambda x : x['name'],users))

['Sam', 'Bahubali', 'Katappa']

In [44]:
#filter

#number greater tha 5
list(filter(lambda x:x>5 , [5,7,3,9,1,99,11,55,0,-1]))

#same thing using map
# list(map(lambda x: x if x>5 else return , [5,7,3,9,1,99,11,55,0,-1])) see this

SyntaxError: invalid syntax (<ipython-input-44-36cb52bea0ae>, line 7)

In [45]:
# fetch fruits starting with 'a'

list(filter(lambda x : x.startswith('a') , ['apple','anas','arati','mango']))

['apple', 'anas', 'arati']

In [46]:
#reduce
#sum of all items

import functools
functools.reduce(lambda x,y:x+y , [1,2,3,4,5])

15

In [48]:
#find min
functools.reduce(lambda x,y: x if(x<y) else y , [1,2,3,4,5,-1])

-1