<a href="https://colab.research.google.com/github/samlocal/Python/blob/main/PythonStrings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Strings**

In [2]:
# In python speciafically , strings are a sequence of unicode characters

#Create strings
s='sameer'
s="sameer"
s="""sameer""" #stroing multi line strings
s='''sameer''' #stroing multi line strings

s="it`s raining"
print(s)

s=str('hello')
print(s)

it`s raining
hello

In [5]:
#indexing
s='hello world'
print(s[0])
print(s[9])

#negative indexing
s='hello world'
print(s[-1])
print(s[-9])

h
l
d
l

In [14]:
#slicing
s='hello world'
print(s[0:5])

print(s[2:8])

print(s[6:])
print(s[:5])
print(s[:])

print(s[0:9:2])
print(s[0:9:3])

print(s[10:0:-1])
print(s[::-1]) #reverse the string

hello
llo wo
world
hello
hello world
hlowr
hlw
dlrow olle
dlrow olleh

In [16]:
s='hello world'
print(s[-5:])
print(s[-1:-6:-1])

world
dlrow

In [18]:
#editing and Deleting in strings
s='hello world'
#s[0]='H' gives error-> python strings are immutable

string1='Nandyal'
del string1
print(string1)

NameError: name 'string1' is not defined

In [ ]:
#operators on strings
#Arithmatic operators
#Relational Operators
#Logical operators
#Loops on srings
#Membershipoperators

In [19]:
#artthmatic operations
print('Delhi'+'Mumbai')
print('mul'*5)

DelhiMumbai
mulmulmulmulmul

In [ ]:
#Relational operatots
print('sam'=='SAM')
print('sam'!='SAM')
print('sam'<'SAM')
print('sam'>'SAM') #see how this works

In [21]:
#logical operators
print('hello' and 'world')
print('' and 'kk')
print('ss' or 'kk')
print('' or 'kk')
print(not '')
print(not 'kk')

world

ss
kk
True
False

In [22]:
#loop on strings
for i in 'sameer':
  print(i)

s
a
m
e
e
r

In [23]:
for i in 'Nandyal':
  print('RS')

RS
RS
RS
RS
RS
RS
RS

In [24]:
#membership operators
print('s' in 'sameer')
print('sam' in 'sameer')

print('k' not in'kasai')
print('k' not in'asai')

True
True
False
True

In [26]:
#functions i python
string='Hello Nandyal'
print(len(string))
print(max(string))
print(min(string))
print(sorted(string))
print(sorted(string , reverse=True))

13
y

[' ', 'H', 'N', 'a', 'a', 'd', 'e', 'l', 'l', 'l', 'n', 'o', 'y']
['y', 'o', 'n', 'l', 'l', 'l', 'e', 'd', 'a', 'a', 'N', 'H', ' ']

In [32]:
#capitilize
string='hello nandyal'
print(string.capitalize())
print(string.title())
print(string.upper())
print(string.lower())
print('HellO bHAi'.swapcase())

Hello nandyal
Hello Nandyal
HELLO NANDYAL
hello nandyal
hELLo BhaI

In [36]:
#count
string='sameer'
print(string.count('e'))
print(string.count('sam'))
print(string.count('k'))

#find
print(string.find('e'))
print(string.find('sam'))
print(string.find('k'))

#index
print(string.index('sam'))

2
1
0
3
0
-1
0

In [37]:
#ends with
print('sameer'.endswith('eer'))
print('sameer'.endswith('r'))

#starts with
print('sameer'.startswith('sam'))
print('sameer'.startswith('m'))

True
True
True
False

In [40]:
#format
name='sameer'
place='nandyal'
print('Hi I am {} from {}'.format(name,place))

print('Hi I am {1} from {0}'.format(place,name))

Hi I am sameer from nandyal
Hi I am sameer from nandyal

In [ ]:
#all the functions are made a new string and no change was done in the original string

In [43]:
#isalnum
print('sam143'.isalnum())
print('sam143%'.isalnum())

#isalpha
print('sam'.isalpha())
print('sam143'.isalpha())

#isdigit
print('sam'.isdigit())
print('143'.isdigit())

#isidentifier
print('var1'.isidentifier())
print('1var'.isidentifier())

True
False
True
False
False
True
True
False

In [44]:
#split
string='Hi My name is sameer from nandyal'
print(string.split())
print(string.split('i'))

['Hi', 'My', 'name', 'is', 'sameer', 'from', 'nandyal']
['H', ' My name ', 's sameer from nandyal']

In [46]:
#join
print(' '.join(['Hi', 'My', 'name', 'is', 'sameer', 'from', 'nandyal']))
print('-'.join(['Hi', 'My', 'name', 'is', 'sameer', 'from', 'nandyal']))

Hi My name is sameer from nandyal
Hi-My-name-is-sameer-from-nandyal

In [48]:
#replace
string='Hi My name is sameer from nandyal'
print(string.replace('sameer','Basha'))
print(string.replace('ramcharan','Basha')) #no change

Hi My name is Basha from nandyal
Hi My name is sameer from nandyal

In [51]:
#strip
print('sam       '.strip())
print('sam******'.strip('*'))
print('******sam******'.strip('*'))

sam
sam
sam

In [52]:
#finding length of a string without using len() function
string1='sameer bhai'
len=0
for i in string1:
  len+=1
print(len)

11

In [53]:
#Extract usename fro email
#eg: sameer143 from sameer143@gmail.com

email='sameer143@gmail.com'
print(email.split('@')[0])

sameer143

In [54]:
#frequency of a character in string
string1='sameeeeeeeer'
char='e'
freq=0
for i in string1:
  if(i==char):
    freq+=1
print(freq)

8

In [57]:
#write a program which can remove a particular charactre from string
string1='sameer'
newstring=''
particularcharacter='e'
for i in string1:
  if(i!=particularcharacter):
    newstring+=i
print(newstring)

samr

In [60]:
#check for palindrome
string='malohdlam'
reversestring=string[::-1]
if(string==reversestring):
  print("palindrome")
else:
  print("Not Palindrome")

Not Palindrome

In [62]:
#write a program to count the number of words in a string without split()
string='hello bhai nenu mee model bhai model bolte'
noofwords=0;
for i in string:
  if(i==' '):
    noofwords+=1
print(noofwords+1)

8

In [67]:
#write a program to convert a title case without using title function
string='sameer bhai from nandyal'
newstring=''
for i in string.split(' '):
  newstring+=i.capitalize()
print(newstring)

SameerBhaiFromNandyal

In [71]:
#write a program that can conert an integer to string
n=int(input("Enter number"))

digits='0123456789'

integerinstring=''
while n!=0:
  lastDigit=n%10
  integerinstring+=digits[lastDigit]
  n=n//10
print(integerinstring[::-1])
print(type(integerinstring))

Enter number66689
66689
<class 'str'>