<a href="https://colab.research.google.com/github/samlocal/Python/blob/main/PythonTuplesSetsDictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

Ordered

1.   List item
2.   List item


Unchangeble

*   List item
*   List item



*   List item
*   List item


Allows duplicate

In [2]:
#creating tples
t1=()
print(type(t1))

#creating tuple with single item
t2=(2)
print(type(t2))
t2=(2,)
print(type(t2))
#homogenous
t4=(1,2,3,4,5)
#hetrogenous
t3=(1,2,'ji',True)
#nested tple
nt=(1,2,3,(8,9,0))
#using type conversion
t5=tuple('hello')
print(t5)

<class 'tuple'>
<class 'int'>
<class 'tuple'>
('h', 'e', 'l', 'l', 'o')

In [ ]:
#Accessing Items
#1.Indexing
#2.Slicing
# we know

In [ ]:
#Editing Items
#tuples are immutable

In [ ]:
#Adding Items
#not possible - immutable

In [3]:
#Deleting Items
#we are able to delete entire tuple
#Deleting some portion is not possible
tup=(1,2,3,4)
print(tup)
del tup
print(tup)

(1, 2, 3, 4)

NameError: name 'tup' is not defined

In [7]:
#operations on tuples
# + and *
t1=(1,2,3,4,5)
t2=(0,9,8,7,6)
print(t1+t2)
print((t1+t2)*2)
#membership operators
print(5 in t1)
print(5 not in t1)
#Iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 0, 9, 8, 7, 6)
(1, 2, 3, 4, 5, 0, 9, 8, 7, 6, 1, 2, 3, 4, 5, 0, 9, 8, 7, 6)
True
False
1
2
3
4
5

In [8]:
#len/sum/min/max/sorted
tup=(99,0,1,-1,0,7,-5,33)
print(len(tup))
print(sum(tup))
print(min(tup))
print(max(tup))
print(sorted(tup))
print(sorted(tup,reverse=True))

8
134
-5
99
[-5, -1, 0, 0, 1, 7, 33, 99]

In [ ]:
#count
#index

In [ ]:
#difference between lists and tuples
#syntax
#Mutability
#Speed
#Memory
#Built in  functionality
#Error prone
#usability

In [ ]:
#tuple unpacking
a,b,c=(1,2,3)
print(a,b,c)

In [9]:
a=1
b=2
b,a=a,b
print(a,b)

2 1

In [10]:
a,b,*others=(1,22,3,4,5,6)
print(a)
print(b)
print(others)

1
22
[3, 4, 5, 6]

In [11]:
#zip in tuples
t1=(1,2,3,4,5)
t2=(1,2,3,4,5)
print(list(zip(t1,t2)))
print(tuple(zip(t1,t2)))

[(1, 1), (2, 2), (3, 3), (4, 4), (5, 5)]
((1, 1), (2, 2), (3, 3), (4, 4), (5, 5))

In [2]:
#set
#Empty set
s1=set()
s2={}
print(type(s1),type(s2))

#1D and 2D
one_d_set={1,2,3,4}
#two_d_set={1,2,3.{9,9}} not possible

#Homo and hetro
hetro={1,'ko','lll',0}
homo={1,2,3,4}

#Using type conversion
s4=set([1,2,3])
print(s4)

#set cant have mutable items
ss={1,2,3,[9,0]}
print(ss)

<class 'set'> <class 'dict'>
{1, 2, 3}

TypeError: unhashable type: 'list'

In [3]:
s1={1,2,3}
s2={3,2,1}
print(s1==s2)

True

In [4]:
#Accessing items
s={1,2,3}
print(s[0])

TypeError: 'set' object is not subscriptable

In [5]:
#3Editing Items
s={1,2,3}
s[0]=99

TypeError: 'set' object does not support item assignment

In [6]:
#Adding Items
s={1,2,3}
#add
s.add(66)
print(s)

#update
s.update([0,-9,-7])
print(s)

{1, 2, 3, 66}
{0, 1, 2, 3, 66, -9, -7}

In [7]:
#Deleting Items
s={1,2,3}
print(s)
del s
print(s)

{1, 2, 3}

NameError: name 's' is not defined

In [8]:
s={0, 1, 2, 3, 66, -9, -7}
#discard
s.discard(66)
print(s)

{0, 1, 2, 3, -9, -7}

In [9]:
#remove
s={0, 1, 2, 3, 66, -9, -7}
s.remove(0)
print(s)

{1, 2, 3, 66, -9, -7}

In [10]:
#pop
s={0, 1, 2, 3, 66, -9, -7}
s.pop()
print(s)

{1, 2, 3, 66, -9, -7}

In [11]:
#clear
s={0, 1, 2, 3, 66, -9, -7}
s.clear()
print(s)

set()

In [17]:
#set operations
set1={1,2,3,4,5}
set2={4,5,6,7,8}
#union
print(set1|set2)
#intersection
print(set1&set2)
#difference
print(set1-set2)
print(set2-set1)
#symmetric difference
print(set1^set2)
print(set2^set1)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [18]:
#Membership operators
set1={1,2,3,4,5}
print(1 in set1)
print(100 not in set1)

#loops
for i in set('sameer'):
  print(i)

True
True
m
r
s
e
a

In [ ]:
#len/sum/min/max/sorted

In [20]:
#union
set1={1,2,3,4,5}
set2={4,5,6,7,8}

print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8}

In [21]:
#update
set1={1,2,3,4,5}
set2={4,5,6,7,8}

set1.update(set2)
print(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [22]:
#intersection
set1={1,2,3,4,5}
set2={4,5,6,7,8}

print(set1.intersection(set2))

{4, 5}

In [24]:
#intersection update
set1={1,2,3,4,5}
set2={4,5,6,7,8}

set1.intersection_update(set2)
print(set1)
print(set2)

{4, 5}
{4, 5, 6, 7, 8}

In [25]:
#difference
set1={1,2,3,4,5}
set2={4,5,6,7,8}

print(set1.difference(set2))

{1, 2, 3}

In [26]:
#difference_update
set1={1,2,3,4,5}
set2={4,5,6,7,8}

set1.intersection_update(set2)
print(set1)
print(set2)

{4, 5}
{4, 5, 6, 7, 8}

In [28]:
#symmerry
set1={1,2,3,4,5}
set2={4,5,6,7,8}

print(set1.symmetric_difference(set2))

{1, 2, 3, 6, 7, 8}

In [30]:
#symmetric_update
set1={1,2,3,4,5}
set2={4,5,6,7,8}

set1.symmetric_difference_update(set2)
print(set1)
print(set2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [31]:
#isdisjoint
set1={1,2,3,4,5}
set2={4,5,6,7,8}
print(set1.isdisjoint(set2))

False

In [35]:
#issubset
set1={1,2,3,4,5}
set2={4,5}
print(set2.issubset(set1))

True

In [36]:
#issubset
set1={1,2,3,4,5}
set2={4,5}
print(set1.issuperset(set2))

True

In [ ]:
#copy

In [37]:
#frozenset
fs=frozenset([1,2,3])
fs

frozenset({1, 2, 3})

In [ ]:
#functions of frozen set

In [38]:
#2D frozenset
fs1=frozenset([1,2,3,4,frozenset([2,3])])
fs1

frozenset({1, 2, 3, 4, frozenset({2, 3})})

In [39]:
#set comprehension
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#Dictionary
#mutable - indexing has no meaning - keys cant be duplicated - keys cant be modified

In [43]:
#Empty dictionart
ed={}
#1D dict
d1={'name':'sam','place':'Nandyal','region':'Rayalaseema'}
#with mixed keys
d2={'name':'sameer',518501:'Nandyal',(1,2,3):'set_data_structure'}
#2D dict
d3={'name':'sam','clg':'GMRIT','subjects':{
    'maths':15,
    'science':-99,
    'telugu':99
}}
#Using sequence and dict function
d4=dict([(1,'one'),(2,'two'),(3,'three')])

{1: 'one', 2: 'two', 3: 'three'}

In [46]:
#using zip function for making dictionary

list1=[1,2,3,4,5]
list2=['one','two','three','four','five']

dict_from_zip=dict(zip(list1,list2))
print(dict_from_zip)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [48]:
#Accessing Items
dict1={1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
print(dict1[1])
print(dict1.get(1))

one
one

In [49]:
#Adding key-value pair
dict1={1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
dict1[6]='six'
print(dict1)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [54]:
#rremoving key value pair
dict1={1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}
#pop
dict1.pop(6)
print(dict1)
#popitem
dict1.popitem()
print(dict1)
#del
del dict1[4]
print(dict1)
#clear
dict1.clear()
print(dict1)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
{1: 'one', 2: 'two', 3: 'three', 4: 'four'}
{1: 'one', 2: 'two', 3: 'three'}
{}

In [55]:
#Editinh key value pair
dict1={1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}
dict1[1]='okati'
print(dict1)

{1: 'okati', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [56]:
#Dictionary operators
#membership
dict1={1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}
print(1 in dict1)
print('one' in dict1)

True
False

In [57]:
#iteratin
dict1={1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}
for i in dict1:
  print(i," -> ",dict1.get(i))

1  ->  one
2  ->  two
3  ->  three
4  ->  four
5  ->  five
6  ->  six

In [ ]:
#len/sorted

In [59]:
#items/keys/values
dict1={1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}
print(dict1.items())
print(dict1.keys())
print(dict1.values())

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five'), (6, 'six')])
dict_keys([1, 2, 3, 4, 5, 6])
dict_values(['one', 'two', 'three', 'four', 'five', 'six'])

In [60]:
#update
d1={1:'one',2:'two',3:'three'}
d2={1:'okati',2:'rendu',3:'mudu',4:'naalugu'}
d1.update(d2)
print(d1)

{1: 'okati', 2: 'rendu', 3: 'mudu', 4: 'nalugu'}

In [ ]:
#Dictionary comprehension
# {key:value for vars in iterable}

In [61]:
#print 1 to 10 numbers and their squares
d={i:i*i for i in range(1,11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [64]:
#Using Extinct dict
distances={'Nandyal':100,'Mahanandi':15,'Atmakur':99}
#cities <50 km

d={i:distances.get(i) for i in distances if distances.get(i)<=50}
print(d)

d={i for i in distances if distances.get(i)<=50}
print(d)

{'Mahanandi': 15}
{'Mahanandi'}

In [67]:
#nested comprehension
#print tables of numbers from 2 to 4

{ i: {j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}